:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-hero-color: #2f303a;
  --our-team-back-color: #f5f4fa;
  --footer-back-color: #000000;
}

body {
  font-family: Roboto, serif;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* утилиты */

h2,
h3 {
  color: var(--title-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: flex;
}

/* главная навигация */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.flexbox-header {
  display: flex;
  padding: 25px;
}

.flexbox-header > .address {
  margin-left: auto;
}

.nav {
  display: flex;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav > .logo {
  margin-right: 93px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.list-flexbox {
  display: flex;
  align-items: center;
}

.list-flexbox > .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--title-text-color);
}

.link:hover,
.link:focus,
.current,
.web {
  color: var(--accent-color);
}

.address {
  display: flex;
  align-items: center;

  font-style: normal;
}

.address > .link:not(:last-child) {
  margin-right: 50px;
}

.telephone-link {
  color: inherit;
}

/* герой */

.hero {
  text-align: center;

  color: var(--background-color);
  background-color: var(--background-hero-color);
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;

  color: var(--background-color);
  background-color: var(--accent-color);

  text-align: center;
}

/* особенности компании */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flexbox > .item-special:not(:last-child) {
  margin-right: 30px;
}

.flexbox > .item-special {
  width: calc((100% - 3 * 30px) / 4);
}

.title-hidden {
  margin: 0px;
  display: none;
}

.title-small-section {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.special-section,
.text-address {
  font-size: 14px;
  line-height: 1.71;
}

.text {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* чем занимается компания */

.section.no-padding {
  padding-top: 0px;
}

.title-section {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.flexbox > .item-company:not(:last-child) {
  margin-right: 30px;
}

.flexbox > .item-company {
  width: calc((100% - 2 * 30px) / 3);
}

/* фото и ссылки на команду */

.team-image {
  margin-bottom: 30px;
}

.title-team {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}

.text-team {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
}

/* футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-hero-color);
}

.title-footer {
  margin-top: 0px;
  margin-bottom: 20px;

  color: var(--background-color);
}

.footer .text-address {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* портфолио */

.padding-portfolio {
  padding-bottom: 94px;
}
/* фильтр */

.flexbox-buttonport {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.flexbox-buttonport > .item-button:not(:last-child) {
  margin-right: 8px;
}

.button-port {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 128px;

  color: var(--title-text-color);
  background-color: var(--our-team-back-color);

  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.button-port:hover,
.button-port:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/* список приложений */

.flexbox-app {
  display: flex;
  flex-wrap: wrap;
}

.item-app {
  width: calc((100% - 2 * 30px) / 3);
}

.item-app:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.flexbox-app > .item-app:nth-of-type(-n + 6) {
  margin-bottom: 30px;
}

.text-container {
  padding: 20px 24px;
}

.title-app {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.text-app {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
